body {
    background-color: #1d2951;
    font-family: 'Papyrus', sans-serif;
	line-height: 2.0;

}

h1 {

   font-size; 36px;
}

a {

	 color: #e62020;
    text-align: center;
}
h2 {

	font-size: 16px;
}
p {

font-size: 14px; 
}
	